
        *{
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            /* font-family: 'Poppins',sans-serif; */
            font-family: 'Nunito Sans', sans-serif;
        }
        :root{
            --dark-blue:hsl(209, 23%, 22%);
            --dark-bg:hsl(207, 26%, 17%);
            --light-text:hsl(200, 15%, 8%);
            --light-input:hsl(0, 0%, 52%);
            --light-bg:hsl(0, 0%, 98%);
            --dark-text: hsl(0, 0%, 100%);
            --main-bg:hsl(0, 0%, 91.8%);
        }
        .loader {
            border: 10px solid #f3f3f3; /* Light grey */
            border-top: 10px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 1s linear infinite;
            /* position: absolute; */
            transform: translate(-50%,-10%);
            margin:10px auto
            }
            
            .loader.display{
            display: none;
            }
            
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
        .contain{
            padding: 15px 40px;
            /* background-color: var(--dark-blue); */
        }
        img{
            width: 100%;
            object-fit: contain;
        }
        nav{
            background-color: var(--light-bg);
            transition: all 0.3s ease-in;    
        }

   
        .changeBg{
            background-color:var(--dark-bg) !important;
            color: var(--dark-text) !important;
        }
        nav,section{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        section.results{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        main{
            background-color:  var(--main-bg);
            transition: all 0.3s ease-in;
            /* height: 100vh; */
            position: relative;
        }
        aside.preloader{
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 100px;
            border-bottom: 10px solid red;
            top: 25%;
            left: 50%;
            transform: translate(-50%,-25%);
            animation: rotate 3s ease-in-out ;
            animation-iteration-count: infinite;
            display:none;
        }
        @keyframes rotate{
            0%{
                transform: translate(-50%,-25%) rotate(0);
            }
            50%{
                transform: translate(-50%,-25%) rotate(180deg);
            }
            100%{
                transform: translate(-50%,-25%) rotate(360deg);
            }
        }
        aside.preloader.hide{
            display: none;
        }
        h3,p{
            color: var(--light-text);
        }
        h3{
            font-size: 15px;
font-weight: 800;

        }
        p{
            font-size: 14px;
        }
        p span:nth-child(1){
            font-weight: 600;
            text-transform: capitalize;
            margin: 5px 0;
            display: inline-block;
        }
        p.dark-mode{
            cursor: pointer;
        }
        .results-div{
            box-shadow: 1px 1px 5px var(--light-input);
            border-radius: 5px;
            margin: 15px;
            overflow: hidden;
            background-color: var(--light-bg);
            transition: all 0.3s ease-in;
            cursor: pointer;
        }
        .value-div{
            padding: 10px;
        }
        form{
            position: relative;
        }
        form i{
            position: absolute;
            top: 12px;
            left: 10px;
            color: var(--light-text);
            transition: all 0.3s ease-in;
        }
        form input{
            padding: 10px 30px;
            box-shadow: 1px 1px 2px var(--light-input);
            border-radius: 5px;
            border: none;
            max-width: 100%;
            width: 300px;
            background-color: var(--light-bg);
            transition: all 0.3s ease-in;
            color: var(--light-text);
        }
        section select{
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            box-shadow: 1px 1px 2px var(--light-input);
            background-color: var(--light-bg);
            transition: all 0.3s ease-in;
            color: var(--light-text);
        }
        .img-div{
            width: 300px;
            height: auto;
            padding: 0;
            margin: 0;
        }
        @media screen and (max-width:650px){
            section{
                display: block;
            }
            section form{
                margin-bottom: 20px;
            }
            .contain{
                padding: 20px 10px;
            }
            section.results{
                display: block;
            }
            .img-div,form input{
                width: 100%;
            }
        }
